<html>

    <body>
        <div class="container">
            <form
                th:action="@{/region/save}"
                method="post"
                th:object="${region}">
                <div class="form-group" hidden>
                    <label for="id" class="col-form-label">ID</label>
                    <input type="text" class="form-control" id="id" th:field="*{regionId}"/>
                </div>
                <div class="form-group col-md-4" >
                    <label for="name" class="col-form-label">NAME</label>
                    <input type="text" class="form-control" id="name" th:field="*{regionName}"/>
                </div>
                <button type="submit" class="btn btn-primary" >SUMBIT</button>
            </form>

        </div>

    </body>




</html>